/* @tailwind base; */
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.botaoModelo{
  background-color: #9E9E9E;
  border-radius: 10px;
  border: none;
  padding: 15px;
  color: #FFFFFF;
}

.botaoPagamento {
  padding: 5px;
  width: 300px;
  border-radius: 3px;
  background-color: #fff;
}
